<h1>REGISTRATION APP</h1>


<form class="" action="/index" method="post">
    <input type="text" name="reg" placeholder="enter Registration number" required="">
    <button type="submit" name="button">ADD</button>
</form>
<div class="output">
    <ul>
        {{#each regNumber}}
            <li id = "reggy">{{this.regNumber}}</li>
        {{/each}}
    </ul>
</div>
