
<h1>SEARCH REGISTRATION</h1>


<form class="" action="/index/search" method="post">

    <div class="radio">
        <label><input type="radio" name="regOpt" value="CA" required="">Cape Town</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="regOpt" value="CY" required="">Bellville</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="regOpt" value="CJ" required="">Paarl</label>
    </div>
    <br><button type="submit" id="btnfilt">Filter</button>
</form>

<ul>
    {{#each myData}}
        <li id = "reggy">{{this.regNumber}}</li><br>
    {{/each}}
</ul>
</div>
